@charset "utf-8";

// Define defaults for each variable.

$base-font-family: -apple-system, BlinkMacSystemFont, "Segoe UI", Roboto, Helvetica, Arial, sans-serif, "Apple Color Emoji", "Segoe UI Emoji", "Segoe UI Symbol" !default;
$base-font-size:   16px !default;
$base-font-weight: 400 !default;
$small-font-size:  $base-font-size * 0.875 !default;
$base-line-height: 1.5 !default;

$spacing-unit:     30px !default;

$text-color:       #111 !default;
$background-color: #fdfdfd !default;
$brand-color:      #2a7ae2 !default;

$grey-color:       #828282 !default;
$grey-color-light: lighten($grey-color, 40%) !default;
$grey-color-dark:  darken($grey-color, 25%) !default;
$orange-color:     #f66a0a !default;
$table-text-align: left !default;

// Width of the content area
$content-width:    800px !default;

$on-palm:          600px !default;
$on-laptop:        800px !default;

$on-medium:        $on-palm !default;
$on-large:         $on-laptop !default;

// Use media queries like this:
// @include media-query($on-palm) {
//   .wrapper {
//     padding-right: $spacing-unit / 2;
//     padding-left: $spacing-unit / 2;
//   }
// }
// Notice the following mixin uses max-width, in a deprecated, desktop-first
// approach, whereas media queries used elsewhere now use min-width.
@mixin media-query($device) {
  @media screen and (max-width: $device) {
    @content;
  }
}

@mixin relative-font-size($ratio) {
  font-size: $base-font-size * $ratio;
}

// Import partials.
@import
  "minima/base",
  "minima/layout",
  "minima/syntax-highlighting"
;

pre,
code {
    font-size: 12px;
    border: 1px solid #0000ff;
    border-radius: 5px;
    background-color: #ffffff;
}

/*
*************************************************
*             Taken from codinfox
*************************************************
*/

::selection {
    background: #6a9fb5;
    color: #fff;
}
::moz-selection {
    background: #6a9fb5;
    color: #fff;
}

.masthead {
    z-index: 1;
    background-color: rgba(255,255,255,0.75);
}

.codinfox-profile-photo {
    text-align: center;
}
a.codinfox-profile-photo>img {
    width: 100%;
    height: auto;
}

.codinfox-logo {
    height: 30px;
    width: auto;
    vertical-align: text-bottom;
    display: inline;
    padding: 0;
    margin: 0;
}

.codinfox-index-bg {
    text-align: center;
    font-size: 0.75rem;
}
div.codinfox-index-bg>img {
    height: 28rem;
    width: auto;
    display: inline;
    margin-top: -1rem;
}

.codinfox-sns-flaticon {
    text-decoration: none;
    /*font-size: 0.75rem;*/
}
.codinfox-sns-flaticon>a{
    text-decoration: none;
    margin-right: .5em;
}
.codinfox-sns-flaticon>a:hover{
    color: #000;
}
.codinfox-sns-flaticon>div{
    opacity: 0.7;
    font-size: 0.65rem;
    text-align:right;
    margin-bottom:1rem;
    margin-top: -0.5rem;
}

.codinfox-about-img{
    margin:1rem auto;
    min-width: 30%;
    max-width: 40%;
    height: auto;
}

/* Category List */
/*.related {
padding-top: 2rem;
padding-bottom: 2rem;
border-top: 1px solid #eee;
}*/
.codinfox-category-list {
    padding-left: 1rem;
    list-style: none;
}
.codinfox-category-list h3 {
    font-size: 1rem;
    margin-top: 0;
}
.codinfox-category-list li small {
    font-size: 75%;
    color: #999;
}
.codinfox-category-list li a:hover {
    color: #6a9fb5;
    text-decoration: none;
}
.codinfox-category-list li a:hover small {
    color: inherit;
}

.codinfox-category-mark {
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #f0f0f0;
    color: #999;
    text-decoration: none;
    margin-bottom: .75rem;
}

.codinfox-category-mark:hover {
    font-weight: bold;
}

.codinfox-tag-mark {
    font-size: 75%;
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #e7f2f7;
    color: #6a9fb5;
}
