
$base-font-family: "Fira Sans", -apple-system, BlinkMacSystemFont, "Segoe UI", "Segoe UI Symbol", "Segoe UI Emoji", "Apple Color Emoji", Roboto, Helvetica, Arial, sans-serif !default;
$base-font-size:   15px !default;
$base-line-height: 1.2 !default;
