pre,
code {
    font-family: monospace, monospace;
    font-size: 12px;
#    border: 1px solid #0000ff;
    border: 1px solid #da0069;
    border-radius: 3px;
    background-color: #f9f9f9;
}

.site-header {
#    background-color: #f1f8ff;
  background-image: url('/images/assets/logo2.svg');
}

.nav .site-nav {
  background-image: url('/images/assets/logo2.svg');
}
.site-nav .page-link {
 color: white;
}

.site-title, .site-title:visited {
    color: white;
}

.post-link {
    font-size:18px;
    border-bottom: 1px solid #e7f2f7;
    border-radius: 5px;
}

a.post-link:hover {
    text-decoration: none;
    background-color: #e7f2f7;
}

/*
*************************************************
*             Taken from codinfox
*************************************************
*/

::selection {
    background: #6a9fb5;
    color: #fff;
}
::moz-selection {
    background: #6a9fb5;
    color: #fff;
}

.masthead {
    z-index: 1;
    background-color: rgba(255,255,255,0.75);
}

.codinfox-profile-photo {
    text-align: center;
}

.codinfox-logo {
    height: 30px;
    width: auto;
    vertical-align: text-bottom;
    display: inline;
    padding: 0;
    margin: 0;
}

.codinfox-index-bg {
    text-align: center;
    font-size: 0.75rem;
}

div.codinfox-index-bg>img {
    height: 28rem;
    width: auto;
    display: inline;
    margin-top: -1rem;
}

.codinfox-sns-flaticon {
    text-decoration: none;
    /*font-size: 0.75rem;*/
}

.codinfox-sns-flaticon>a{
    text-decoration: none;
    margin-right: .5em;
}

.codinfox-sns-flaticon>div{
    opacity: 0.7;
    font-size: 0.65rem;
    text-align:right;
    margin-bottom:1rem;
    margin-top: -0.5rem;
}

.codinfox-about-img{
    margin:1rem auto;
    min-width: 30%;
    max-width: 40%;
    height: auto;
}

.codinfox-category-list {
    padding-left: 1rem;
    list-style: none;
}

.codinfox-category-list h3 {
    font-size: 1rem;
    margin-top: 0;
}

.codinfox-category-list li small {
    font-size: 75%;
    color: #999;
}

.codinfox-category-list li a:hover {
    color: #6a9fb5;
    text-decoration: none;
}

.codinfox-category-list li a:hover small {
    color: inherit;
}

.codinfox-category-mark {
    padding: 0 .5rem 0 .5rem;
    border-radius: 5px;
    background: #f0f0f0;
    color: #999;
    text-decoration: none;
    margin-bottom: .75rem;
}

.codinfox-category-mark:hover {
    font-weight: bold;
}

a.codinfox-tag-mark {
    text-decoration: none;
    font-size: 90%;
    padding: .3rem;
    border-radius: 5px;
    background: #e7f2f7;
    margin-bottom: .3rem;
    color: #6a9fb5;
}

a.codinfox-tag-mark:hover {
    border-style: solid;
    border-color: #275c74;
    border-width: 1px;
}


@media screen and (max-width: 600px) {
 a.page-link {
  color: black !important;
 }
}

.newsletter-container {
    max-width: 400px;
    border-radius: 1em;
    display: flex;
    flex-direction: column;
    background: #dbdada;
    box-shadow: 0 4px 6px 0 rgba(0, 0, 0, 0.2);
    margin-bottom: 2em;    
    margin-left: auto;
    margin-right: auto;
    padding: 1em 0;
}

.newsletter-container * {
    align-self: center;
    padding: 0;
}
.newsletter-form {
    text-align: center;
}
.newsletter-title {
    font-size: 1.5em;
    margin: 0;
    color: #fff;
    text-transform: uppercase;
}
.newsletter-text {
    font-weight: 600;
    color: #ddd;
    text-align: center;
}
.newsletter-email,
.newsletter-submit {
    display: inline-block;
    border-radius: 4px;
    padding: 0;
    align-self: center;
}
.newsletter-email {
    text-align: center;
    font-size: .9em;
}
.newsletter-submit {
    font-size: .6em;
    margin-left: 1em;
    padding: 0.5em;
    border: none;
    background: #f5f5f5;
    text-transform: uppercase;
    font-weight: 600;
}

@media screen and (min-width: 400px) {
    .newsletter-title {
        font-size: 2.5em;
    }
    .newsletter-text {
        font-size: 1.5em;
    }
    .newsletter-submit {
        font-size: .7em;
    }
}
